#toolbar {
    top: -100px;
    position:fixed;
    background:#20262F;
    width:100%;
    text-align:center;
    padding: 10px
}


.Page-3 {
    width: 620px;
    max-width: calc(100% - 1px);
    height: calc(349px + 74px + 40px);
    max-height: 100%;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.Page-3 h1 {
    color: #fff;
    text-align: center;
}

.Page-3 img {
    max-width: calc(100% - 5px);
}

.btn {
    display: block;
    width: 620px;
    max-width: calc(100% - 1px);
}

.yes, .no {
    display: inline-block;
    width: 130px;
    height: 50px;
    margin: 9% calc(50%/2 - 65px - 2px);
    border-radius: 8px;
    transition: 0.5s;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.yes:hover, .no:hover {
    background-color: aqua;
}

.no {
    top: -140px;
    left: -100px;
    position: fixed;
}